:root {
  font-family: monospace, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --green: rgb(0, 140, 0);
  --purple: rgb(100, 0, 140);
  --orange: rgb(220, 100, 0);


  --lightgreen: rgb(0, 180, 0);
  --lightpurple: rgb(140, 0, 180);
  --lightorange: rgb(240, 130, 0);

  --gray50: rgb(50, 50, 50);
  --gray100: rgb(100, 100, 100);
  --gray150: rgb(150, 150, 150);
  --gray200: rgb(200, 200, 200);

  --gray1: oklch(0.1 0 0);
  --gray2: oklch(0.2 0 0);
  --gray3: oklch(0.3 0 0);
  --gray4: oklch(0.4 0 0);
  --gray5: oklch(0.5 0 0);
  --gray6: oklch(0.6 0 0);
  --gray7: oklch(0.7 0 0);
  --gray8: oklch(0.8 0 0);
  --gray9: oklch(0.9 0 0);
  
  
  --sepia0: #ebd7cb;
  --sepia1: #ffe0b5;
  --sepia2: #d4aa7d;
  --sepia3: #b87d48;
  --sepia4: #9e6240;
  --sepia5: #644536;

  --rotary-tick: var(--sepia1);
  --rotary-hover: var(--sepia3);
  --slider-background: var(--sepia0);
  --slider-border: black;
  --slider-indicator: black;
  --slider-hover: white;
  --slider-active: var(--sepia4);
  --plot-main: var(--sepia3);
  --plot-single-filter: var(--sepia5);
  --plot-total-curve: white;
  --plot-filter-hover: var(--sepia2);
  --app-background: var(--sepia2);
  --app-text: black;
  --button-background: var(--sepia2);
  --button-text: black;
  
  background: var(--app-background);
  color: var(--app-text);

  * {
    -webkit-user-select: none;
    user-select: none;
  }

}

body,
html {
  overflow-y: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}



input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  background: var(--gray1);
  width: 1em;
  height: 1em;
  border: 1px solid var(--gray9);
  cursor: pointer;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background: var(--orange);
}


button {
  font-family: monospace;
  font-size: 14px;
  align-items: center;
  height: 2em;
  border-radius: 0;
  padding: 0 1em 0 1em;
  margin: 0;
  align-self: flex-end;
  width: max-content;
  border: 1px solid white;
  color: var(--button-text);
  background: var(--button-background);
  border: 1px solid var(--sepia0);
  cursor: pointer;
  transition: border-color 0.33s, background 0.33s;
}

button:active {
  color: rgb(from var(--rotary-tick) calc(r*2) calc(g*2) calc(b*2));
}

button:hover {
  border-color: var(--button-background);
}

button[data-attribute="true"] {
  background: black;
  color: white;
}

input {
  outline: none;
}



.switch {
  display: flex;
  width: 1em;
  height: 1em;
  padding: 0;
  background: var(--purple);
  color: var(--gray150);
  align-self: center;
  transition: background 0.33s, border-color 0.33s;
  border-color: var(--gray100);
  align-items: center;
}

.switch[data-attribute="true"]:hover {
  border-color: var(--lightpurple);
}

.switch:hover {
  border-color: var(--gray150);
}

.switch[data-attribute="true"] {
  background: var(--gray150);
  border-color: var(--purple);
}

.reset-gain-switch {
  display: flex;
  width: 1em;
  height: 1em;
  padding: 0;
  background: var(--orange);
  color: var(--gray50);
  align-self: center;
  transition: background 0.33s, border-color 0.33s;
  border-color: white;
  align-items: center;
}

.reset-gain-switch:hover {
  border-color: var(--gray150);
}

.spinner {
  width: 2em;
  height: 2em;
  border: 3px solid var(--button-background);
  border-top-color: var(--button-text);
  border-radius: 20px;
  animation: 1.47s infinite linear spin;
}


@media (prefers-color-scheme: dark) {}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);

  }
}

@keyframes button-border-pulse {
  0% {
    border: 1px solid rgb(from var(--rotary-tick) r g b);
  }

  100% {
    border: 1px solid rgb(from var(--rotary-tick) calc(r/2) calc(g/2) b);

  }
}


@keyframes sine-height {
  0% {
    height: 50px;
    border-top: 3px solid red;
    border-bottom: none;
  }


  49% {
    height: 0px;
    border-top: 3px solid red;
    border-bottom: none;
  }

  50% {
    height: 0px;
    border-top: none;
    border-bottom: 3px solid red;
  }


  100% {
    height: 50px;
    border-top: none;
    border-bottom: 3px solid red;
  }
}

/* indicator for the slider */
::-webkit-scrollbar {
	background: black;
	appearance: none;
	-webkit-appearance: none;
	height: 1em;
	width: 2em;
	clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
	border-radius: 15px;
}

::-webkit-scrollbar-thumb {
	background: var(--slider-active);
	border-radius: 15px;
}

::-webkit-scrollbar-runnable-track {
	background: var(--gray100);
}
