:root {
  font-family: monospace, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--gray200);
  background: rgb(70,60,60);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --green: rgb(0,140,0);
  --purple: rgb(100,0,140);
  --orange: rgb(220,100,0);


  --lightgreen: rgb(0,180,0);
  --lightpurple: rgb(140,0,180);
  --lightorange: rgb(240,130,0);

  --gray50: rgb(50,50,50);
  --gray100: rgb(100,100,100);
  --gray150: rgb(150,150,150);
  --gray200: rgb(200,200,200);

  --rotary-tick: var(--lightpurple);
  --rotary-hover: var(--green);
  --slider-border: var(--purple);
  --slider-indicator: var(--purple);
  --slider-hover: var(--lightpurple);
  --slider-active: var(--green);
  --plot-main: var(--purple);
  --plot-single-filter: var(--gray150);
  --plot-total-curve: var(--gray200);

  * {
    -webkit-user-select: none;
    user-select: none;
  }

}

body, html {
  overflow-y: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


button {
  font-family: monospace;
  font-size: 14px;
  align-items: center;
  height: 2em;
  border-radius: 0;
  padding: 1px;
  margin: 0;
  align-self: flex-end;
  width: max-content;
  border: 1px solid var(--rotary-tick);
  border-radius: 2px;
  color: var(--gray200);
  background: black;
  cursor: pointer;
  transition: color 0.33s;
}
button:hover {
  color: var(--gray150);
}
button:active {
  color: var(--gray100);
}

input {
  outline: none;
}

@media (prefers-color-scheme: dark) {
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    
  }
}


.switch {
	display: flex;
	width: 1em;
	height: 1em;
	padding: 0;
	border-radius: 50%;
	background: var(--purple);
  color: var(--gray150);
	align-self: center;
	transition: background 0.33s, border-color 0.33s;
	border-color: var(--gray100);
  align-items: center;
}
.switch[data-attribute="true"]:hover {
	border-color: var(--lightpurple);
}
.switch:hover {
	border-color: var(--gray150);
}

.switch[data-attribute="true"] {
	background: var(--gray150);
	border-color: var(--purple);
}

.reset-gain-switch {
	display: flex;
	width: 1em;
	height: 1em;
	padding: 0;
	background: var(--orange);
  color: var(--gray50);
	align-self: center;
	transition: background 0.33s, border-color 0.33s;
	border-color: var(--gray100);
  align-items: center;
}
.reset-gain-switch:hover {
	border-color: var(--gray150);
}



