:root {
  font-family: monospace, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--gray150);
  background: rgb(70,70,80);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --green: rgb(0,140,0);
  --purple: rgb(100,0,140);
  --orange: rgb(220,100,0);

  --gray50: rgb(50,50,50);
  --gray100: rgb(100,100,100);
  --gray150: rgb(150,150,150);
  --gray200: rgb(200,200,200);

}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}



button {
  border-radius: 8px;
  border: 1px solid var(--purple);
  padding: 0.6em 1.2em;
  font-size: 1em;
  color: var(--gray150);
  background: black;
  transition: border-color 0.33s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
}

button:hover {
  border-color: var(--orange);
}
button:active {
  border-color: var(--green);
}

input {
  outline: none;
}
@media (prefers-color-scheme: dark) {
  :root {
  }

}
